body{
    background: linear-gradient(to top right, #b4d4f7, transparent), linear-gradient(to top, #b4d4f7, transparent), linear-gradient(to bottom left, #a9e9cb, transparent),linear-gradient(to bottom right, #f7b4ec, transparent);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    font-family: Arial, Helvetica, sans-serif,Microsoft Jhenghei;
    padding: 0px;
    font-size: 1.35rem;
/*     font-size: 30px; */
    color: white;
}
.container{
    height: 100vh !important;
}


.row{
    width: 100%;
    height: 100%;
    margin: auto;
  /*   border-radius: 20px; */
    
}

#calc {
    border: solid 0px black;
    height: 70vh;
    width: calc( 70vh * 0.58 ); 
    border-radius: 20px;
    background: #4190e9;
    padding: 0 0 0 0px ;
/*     padding: 0 0 0 20px ; */
    overflow: hidden;
    box-shadow:10px 30px 25px -5px rgba(73, 121, 211, 0.5);
    position: relative;
    text-align: center;
    border-spacing: 0px !important;
   /*  align-self: center; */
    
}

#calc td {
    border: solid 0px black;
    margin: 5px;
    padding:0.54rem ; 
    /* padding:15px ; */
    line-height: calc( 70vh * 0.1 ) ;
}
/*  */
    
#clear{
    font-size:36px;
    font-weight: 700;
}
.op{
    position: relative;
    cursor: pointer;
/*     margin-bottom:0px ;
    padding: 0px; */
}


.op-circle{
    width: calc( 70vh * 0.1 );
    height: calc( 70vh * 0.1 ) ; 
    margin: 0px 0 ;
    background: #3382db;
    /* padding: 12px 0px; */
    /* position: absolute; */
}

.op-circle2{
    width: calc( 70vh * 0.1 );
    height: calc( 70vh * 0.1 ) ; 
    margin: 0px 0 ;
    background: #1dc51a;
    
    /* padding: 12px 0px; */
    /* position: absolute; */
}

.op-square1{
    /*     width: calc( 70vh * 0.1 );
        height: calc( 70vh * 0.1 ) ; */
        width: calc( 70vh * 0.1 );
        height: 100%;
        background: #3382db;
        border-radius: 50px;
        cursor: pointer;

}
.op-square2{
/*     width: calc( 70vh * 0.1 );
    height: calc( 70vh * 0.1 ) ; */
    width: calc( 70vh * 0.1 );
    height: 100%;
    background: #04e400;
    border-radius: 50px;
    cursor: pointer;
}
.op-circle:hover{
    width: calc( 70vh * 0.1 );
    height: calc( 70vh * 0.1 ) ; 
    margin: 0px 0 ;
    background: rgb(90, 170, 223);
}
.op-circle2:hover{
    color: red;
}
.op-square1:hover{
    height: 100%;
    background: rgb(90, 170, 223);
    border-radius: 50px;
    cursor: pointer;
}
.op-square2:hover{
    height: 100%;
    background: #e2ac47;
    border-radius: 50px;
    cursor: pointer;
}
.digits{
    cursor: pointer;
    
}
.digits{
    width: calc( 70vh * 0.1 ) ; 
    height: calc( 70vh * 0.1 ) ;    
    background: #4190e9;  
    border-radius: 50%; 
}


.digits:hover{
    width: calc( 70vh * 0.1 ) ; 
    height: calc( 70vh * 0.1 ) ; 
    background: #3382db; 
    border-radius: 50%;
}

#top{
    width: ;
    height: 30%;
    background: #3382db;
}
#input{
    margin:0;
    padding:0;
    vertical-align: middle;
}
#date{
    font-size: 0.8rem;
    text-align: left;
    padding-left: 0.75rem;
    opacity: 0.4;
}
#list{
    text-align: right;
    font-size: 0.85rem;
    color: white;
    padding-right: 0.72rem;
    opacity: 0.7;
}
#result{
    padding-right: 0.7rem;
    text-align: right;
    font-size: 2.3rem;
    color: white;
}

/* #butn4{
    vertical-align: top !important;
} */

/* #butn5{
    vertical-align: bottom !important;
} */

.bottom{
    color:red;
    /* margin-bottom: 120px; */
/*     padding-bottom: 0px !important; */
padding: 0 !important;
padding-bottom: 5px !important;
margin: 0 !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    * {
        font-size: 1.1rem;
     }
     #calc td {
        margin: 5px;
        padding:0.38rem ; 
        line-height: calc( 70vh * 0.1 ) ;
    }
    #result{
        padding-right: 0.5rem;
        font-size: 1.5rem;
    }
    #list{
        font-size: 0.75rem;
        padding-right: 0.5rem;
    }
    #date{
        font-size: 0.7rem;
        padding-left: 0.5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #result{
        padding-right: 0.7rem;
        font-size: 2.3rem;
    }
    #list{
        font-size: 0.85rem;
        padding-right: 0.72rem;
    }
    #date{
        font-size: 0.8rem;
        padding-left: 0.75rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    * {
        font-size: 1.35rem;
     }
     #calc td {
        margin: 5px;
        padding:0.52rem ; 
        line-height: calc( 70vh * 0.1 ) ;
    }
    #result{
        padding-right: 0.7rem;
        font-size: 2.3rem;
    }
    #list{
        font-size: 0.85rem;
        padding-right: 0.72rem;
    }
    #date{
        font-size: 0.8rem;
        padding-left: 0.75rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    * {
        font-size: 1.35rem;
     }
     #calc td {
        margin: 5px;
        padding:0.52rem ; 
        line-height: calc( 70vh * 0.1 ) ;
    }
    #result{
        padding-right: 0.7rem;
        font-size: 2.3rem;
    }
    #list{
        font-size: 0.85rem;
        padding-right: 0.72rem;
    }
    #date{
        font-size: 0.8rem;
        padding-left: 0.75rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    * {
        font-size: 1.35rem;
     } 
     #calc td {
        margin: 5px;
        padding:0.54rem ; 
        line-height: calc( 70vh * 0.1 ) ;
    }
    #result{
        padding-right: 0.70rem;
        font-size: 2.3rem;
    }
    #list{
        font-size: 0.85rem;
        padding-right: 0.72rem;
    }
    #date{
        font-size: 0.8rem;
        padding-left: 0.75rem;
    }
    
}